aiml==0.9.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
dnspython==1.16.0
Flask==1.1.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.15.1
MarkupSafe==1.1.1
numpy==1.18.4
pandas==1.0.3
prompt-toolkit==3.0.5
PyJWT==1.7.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
threadpoolctl==2.0.0
tqdm==4.46.0
twilio==6.37.0
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.0
wit==5.1.0
